.stat-bar {
  &__info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
  }

  &__info {
    margin: 0rem;
  }

  &__bars-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6rem;
  }

  &__background {
    width: 48%;
    background-color: #14202c;
    height: 0.5rem;
    border-radius: 100rem;
  }

  &__meter {
    background-color: white;
    height: 0.5rem;
    border-radius: 100rem;

    &--home {
      background-color: #efe52e;
      margin-left: auto;
      margin-right: 0;
    }

    &--away {
      background-color: #44db5e;
    }
  }
}
