.match-period-selector {
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin: auto;
  margin-bottom: 1rem;

  &__button {
    padding: 0.5rem 1rem;
    background-color: #ebecf5;
    border: none;
    border-radius: 100rem;
    cursor: pointer;

    &--active {
      background-color: #14202c;
      color: white;
      font-weight: bold;
    }
  }
}
